:root {
    --color-primary: #ffecd2;
    --color-secondary: #fcb69f;
    --color-dark-blue: #4d5c76;
    --color-grey: #f1f3f9;
}

/* Boilerplate CSS start */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}
html {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    box-sizing: border-box;
    background-color: var(--primary-color);
    
    position: relative;
}

.main {
    width: 100%;
    height: auto;
    padding: 10rem 2rem;
    background-color: pink;
}
/* section header */
.section__heading {
    font-size: 8rem;
}

/* section trending */
.section--trending {
    width: 100%;
    height: auto;
    background-color: lightblue;
    padding: 20rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/* Trending cards css */
.container .cards--trending {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(10, 1fr);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 3rem;
    scrollbar-width: none;
}
.container .cards::-webkit-scrollbar {
    /* for apple browsers */
    display: none;
}

/* scrollbar */
.scrollbar {
    height: 2rem;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.scrollbar__track {
    height: 4px;
    width: 100%;
    background-color: #ccc;
    position: relative;
    border-radius: 2px;
}
.scrollbar:hover .scrollbar__track {
    height: 6px;
}

.scrollbar__thumb {
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: black;
    border-radius: inherit;
    cursor: grab;
}
.scrollbar__thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}
.scrollbar__thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

/* Section recipes */
.section--recipes {
    width: auto;
    height: 100vh;
    background-color: orangered;
    display: flex;
    flex-direction: column;
}
.cards--recipes {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
}

.container--recipes {
    display: flex;
    justify-content: center;
}






.container {
    /* max-width: 1200px; */
    width: 95%;
    padding: 0 25rem;
    background-color: yellow;
    align-self: center;
}
/* resuable cards css and animation*/
.card {
    /* background-color: orangered; */

    /* to make the card seems like it is rotating with slight angle */
    perspective: 200rem;
    -moz-perspective: 200rem;
    position: relative;
    width: 35rem;
    height: 50rem;
    object-fit: cover;
}
.card--back, 
.card--front {
    /* hide the back side of the card */
    backface-visibility: hidden;
    box-shadow: 0 1.2rem 3rem rgba(0, 0, 0, .2);
    border-radius: 2rem;

    height: 50rem;
    background-color: orange;
    color: white;
    font-size: 3rem;
    transition: all .7s ease;
    overflow: hidden;
    position: absolute;
    width: 100%;
    user-select: none;


}
.card--front {
    background-color: var(--color-secondary);
}
.card--back {
    background-color: var(--color-secondary);

    transform: rotateY(180deg);
}
.card:hover {
    cursor: pointer;
}
.card:hover .card--front {
    transform: rotateY(-180deg);
}
.card:hover .card--back {
    transform: rotateY(0);
}

.card__svg {
    position: absolute;
    width: 100%;
    z-index: 100;
    bottom: 0rem;
    left: 0;
    user-select: none;
}
.card__img {
    top: 0;
    width: 100%;
    user-select: none;
}
/* margin sizings */
.margin-bottom-small {
    margin-bottom: 1rem;
}
.margin-bottom-medium {
    margin-bottom: 2rem;
}
.margin-bottom-big {
    margin-bottom: 6rem;
}
